extends layout

mixin tinp(name, label)
    .input-group
        label.col(for=name)= label 
        input.col.form-input#name(type="text" name=name)
        

block content
    .container
        .h1.h1 Selbstsigniertes Zertifikat erstellen
        form.form(action="/manage/certgen" method="post")
            .form.row
                +tinp("cn", "Name der Website (wie sie im Browser angegeben wird)")
                +tinp("c", "Land")
                +tinp("st", "Bundesland/Kanton")
                +tinp("l", "Ort")
                +tinp("o","Organisation")
                +tinp("ou","Abteilung")
                button(type="submit") Erstellen
