extends layout

block content
  .container
    h1.h1 Geschafft

    p Die Elexis Datenbank wurde erstellt und initialisiert.

    form(action="/" method="GET")
      button.btn.btn-primary(type="submit") Zurück
