extends layout
block content
  .container
    h1.h1 Zertifikat und Schl체ssel installieren
    .row
      .col.card
        .card-header
          .card-title Existierende Schl체sseldateien w채hlen
        .card-body
          form(action="/manage/certsend" method="post" enctype="multipart/form-data")
            .form-group
              label(for="cert") Zertifikat 
              input.form-control-file#cert(type="file" name="cert")  
            .form-group
              label(for="privkey") Privater Schl체ssel
              input.form-control-file#privkey(type="file" name="privkey")  
            button.btn.btn-primary.btn-small(type="submit") Hochladen
