//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

h2 Verwaltung
ul.list-group
  li.list-group-item 
    a#initdb(href="/db/init") Datenbank initialisieren.
  li.list-group-item
    a(href="/db/loaddata") Basis-Datenbestände einlesen  
  li.list-group-item 
    a(href="/backup/settings") Datensicherung konfigurieren
  //-
    li.list-group-item 
      a(href="/backup/restore") Daten aus Backup wiederherstellen

  li.list-group-item
    a(href="/manage/certdef") Selbstsigniertes Zertifikat erstellen    
  li.list-group-item
    a(href="/manage/selcert") Schlüsselpaar installieren
  li.list-group-item
    a(href="/manage/selfservice") Termin-Selbstbedienung konfigurieren  
  li.list-group-item
  
